.input {
  width: 300px;
  min-height: 500px;
  overflow-y: auto;
  resize: vertical;
  padding: .5rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 140%;
  border-radius: .5rem;
  font-family: inherit;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
}