.wrap {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  text-align: left;
}

.left-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time-stamp {
  color: white;
  margin-bottom: 0.5rem;
}